<% if field.title.nil? %>
  <div id='add-tab' class='tab-pane'>
    <%= lesson_plan_form.simple_fields_for :fields, lesson_plan.fields.last do |field| %>
      <%= field.input :title, class: 'span4'%>
      <%= field.input :description do %>
        <%= field.text_area :description, rows: 10, class: 'span6'%>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div id=<%= "#{field.title.downcase}-tab"%> class='tab-pane'>
    <% if field.id %>
      <%= link_to "Remove #{field.title}",
        lesson_plan_field_path(id: field.id),
        method: :delete,
        data: { confirm:
          "Are you sure you want to remove #{field.title}?"
        }, style: 'float: right' %>
    <% end %>
    <%= lesson_plan_form.simple_fields_for :fields, lesson_plan.fields.select { |f| f == field } do |field| %>
      <%= field.input :title, class: 'span4'%>
      <%= field.input :description do %>
        <%= field.text_area :description, class: 'span6'%>
      <% end %>
    <% end %>
  </div>
<% end %>
