<% if field.title.nil? %>
  <div id='add-tab' class='tab-pane'>
    <%= lesson_plan_form.fields_for :fields, lesson_plan.fields.last do |field| %>
      <%= field.text_field :title, class: 'span4'%>
      <%= field.text_area :description, rows: 10, class: 'span6'%>
    <% end %>
  </div>
<% else %>
  <div id=<%= "#{field.title.downcase}-tab"%> class='tab-pane'>
    <%= link_to "Remove #{field.title}",
          lesson_plan_fields_path(id: field.id),
          method: :delete,
          data: { confirm: "Are you sure you want to remove #{field.title} ?" },
          style: 'float: right' %>
    <%= lesson_plan_form.fields_for :fields, lesson_plan.fields.select { |f| f == field } do |field| %>
      <%= field.text_field :title, class: 'span4'%>
      <%= field.text_area :description, class: 'span6'%>
    <% end %>
  </div>
<% end %>
