<%= simple_form_for lesson_plan, html: { class: 'form-inline' } do |form| %>
  <div class='tabbable'>
    <ul class='nav nav-pills'>
      <div class='heading span7 pull-right'>
        <h3>
          <%= @lesson_plan.course %> - <%= @lesson_plan.title %>
        </h3>
        <span class="status status-<%= @lesson_plan.complete ? 'complete' : 'in-progress' %>">
          <%= @lesson_plan.status_text %>
        </span>
      </div>
      <% if lesson_plan.persisted? %>
        <li class='active'>
          <a href='#lesson-plan-tab' name="lesson-plan-tab" data-toggle='tab'>
            Lesson Plan
          </a>
        </li>
        <li>
          <a href='#standards-tab' name="standards-tab" data-toggle='tab'>
            Standards
          </a>
        </li>
      <% end %>
      <li>
      <a href='#details-tab' name="details-tab" data-toggle='tab'>
        Details
      </a>
      </li>
    </ul>
    <div class='tab-content'>
      <%= render 'form_details_tab',
        lesson_plan: lesson_plan, lesson_plan_form: form %>
      <% if lesson_plan.persisted? %>
        <div id='lesson-plan-tab' class='tab-pane active'>
          <%= form.input :body, label: false%>
        </div>
        <%= render 'form_standards_tab',
          lesson_plan: lesson_plan, form: form %>
      <% end %>
    </div>
  </div>

  <div class='control-group form-submit'>
    <div class='controls'>
      <%= form.submit submit_text,
        class: 'btn btn-primary' %>
      <% if lesson_plan.id.present? %>
        <%= link_to 'Cancel', lesson_plans_path,
          class: 'btn' %>
        <%=
          link_to 'Delete', lesson_plan_path(lesson_plan),
            data: { confirm: 'Are you sure you want to delete this lesson plan?' },
            method: :delete,
            class: 'btn' %>
        <%= link_to 'Print',
          lesson_plan_path(lesson_plan),
          target: '_blank',
          class: 'btn pull-right' %>
      <% end %>
    </div>
  </div>
<% end %>
