<%= bootstrap_form_for lesson_plan do |form| %>
  <div class='tabbable tabs-left'>
    <%= render 'form_nav', lesson_plan: lesson_plan %>
    <div class='tab-content'>
      <%= render 'form_details_tab',
        lesson_plan_form: form %>
      <% lesson_plan.fields.each do |f| %>
        <%= render 'form_content_tab',
          field: f, lesson_plan_form: form,
          lesson_plan: lesson_plan %>
      <% end %>
      <%= render 'form_standards_tab',
        lesson_plan: lesson_plan, form: form %>
    </div>
  </div>

  <div class='control-group form-submit'>
    <div class='controls'>
      <%= form.submit submit_text,
        class: 'btn btn-primary' %>
      <% if lesson_plan.id.present? %>
        <%= link_to 'Print Lesson Plan',
          lesson_plan_path(lesson_plan),
          target: '_blank',
          class: 'btn' %>
        <%= link_to 'Cancel', lesson_plans_path,
          class: 'btn' %>
        <%=
          link_to 'Delete', lesson_plan_path(lesson_plan),
            data: { confirm: 'Are you sure?' },
            method: :delete,
            class: 'btn' %>
      <% end %>
    </div>
  </div>
<% end %>
