<div id='details-tab' class="tab-pane <%='active' unless lesson_plan.persisted? %>">
  <%= lesson_plan_form.input :course, wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-book'></i>
    <% end %>
    <%= lesson_plan_form.input_field :course %>
  <% end %>
  <%= lesson_plan_form.input :title,
    label: 'Lesson Title', wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-list-alt'></i>
    <% end %>
    <%= lesson_plan_form.input_field :title %>
  <% end %>
  <%= lesson_plan_form.input :start, wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-time'></i>
    <% end %>
    <%= lesson_plan_form.datetime_local_field :start %>
  <% end %>
  <%= lesson_plan_form.input :end, wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-time'></i>
    <% end %>
    <%= lesson_plan_form.datetime_local_field :end %>
  <% end %>
  <%= lesson_plan_form.input :complete %>
</div>

