<%= bootstrap_form_for @lesson_plan do |f| %>

	<%= f.collection_select :course_id, Course.all, :id, :name, prepend: 'icon-book' %>

	<%= f.text_field :description, prepend: 'icon-list-alt' %>

	<%= f.datetime_local_field :start, prepend: 'icon-time' %>

	<%= f.datetime_local_field :end, prepend: 'icon-time' %>

	<div class="control-group">
	    <div class="controls">
				<%= f.submit submit_text, class: 'btn btn-primary' %>
				<%= link_to 'Cancel', lesson_plans_path, class: 'btn' %>
	    </div>
	</div>

<% end %>
