<%= simple_form_for lesson_plan, html: { class: 'form-inline' } do |form| %>
  <div class='tabbable'>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <a href='#details-tab' name="details-tab" data-toggle='tab'>
          Details
        </a>
      </li>
      <% if lesson_plan.persisted? %>
        <li>
          <a href='#lesson-plan-tab' name="lesson-plan-tab" data-toggle='tab'>
            Lesson Plan
          </a>
        </li>
        <li>
          <a href='#standards-tab' name="standards-tab" data-toggle='tab'>
            Standards
          </a>
        </li>
      <% end %>
    </ul>
    <div class='tab-content'>
      <%= render 'form_details_tab',
        lesson_plan_form: form %>
      <% if lesson_plan.persisted? %>
        <div id='lesson-plan-tab' class='tab-pane'>
          <%= form.input :body %>
        </div>
        <%= render 'form_standards_tab',
          lesson_plan: lesson_plan, form: form %>
      <% end %>
    </div>
  </div>

  <div class='control-group form-submit'>
    <div class='controls'>
      <%= form.submit submit_text,
        class: 'btn btn-primary' %>
      <% if lesson_plan.id.present? %>
        <%= link_to 'Print Lesson Plan',
          lesson_plan_path(lesson_plan),
          target: '_blank',
          class: 'btn' %>
        <%= link_to 'Cancel', lesson_plans_path,
          class: 'btn' %>
        <%=
          link_to 'Delete', lesson_plan_path(lesson_plan),
            data: { confirm: 'Are you sure?' },
            method: :delete,
            class: 'btn' %>
      <% end %>
    </div>
  </div>
<% end %>
