<div class='span2'>
  <div class='controls'>
    <%= label_tag :standard_type, 'Subject' %>
    <%= select_tag :standard_type, options_for_select(
      ['Math', 'ELA-Literacy'], 0), class: 'span2' %>
  </div>
</div>
<div class='span4'>
  <div class='controls'>
    <%= label_tag :grade, 'Grade' %>
    <%= select_tag :grade, options_for_select(
      CoreStandard.grades, 0), class: 'span2' %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag 'Search', style: 'margin-bottom: 10px', class: 'btn btn-small' %>
  </div>
</div>
