<div class='heading'>
	<h3><%= @lesson_plan.title %></h3>
	<strong><%= @lesson_plan.course.name %> - <%= Date::DAYNAMES[@lesson_plan.start.to_date.wday] %>, <%= @lesson_plan.start.to_date %></strong>
</div>

<%= render 'form', lesson_plan: @lesson_plan,
	submit_text: 'Update Lesson Plan' %>

