<div class='heading span7'>
  <h3>
    <%= @lesson_plan.course.name %> - <%= @lesson_plan.title %>
  </h3>
  <strong>
    <%= Date::DAYNAMES[@lesson_plan.start.to_date.wday] %>, <%= @lesson_plan.start.to_date %>
  </strong>
  <div class='lesson-plan-status'>
    <span class='badge badge-important'>
      <%= @lesson_plan.lesson_plan_status.name %>
    </span>
  </div>
</div>

<div class='span9'>
  <%= render 'form', lesson_plan: @lesson_plan,
    submit_text: 'Update Lesson Plan' %>
</div>
