<div>
  <h2>Lesson Plans</h2>
  <i class='icon-plus'></i>&nbsp;<%= link_to 'New Lesson plan', new_lesson_plan_path %>
</div>
<br/>
<table class='table'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Course</th>
        <th>Date</td>
      </tr>
    </thead>
</table>
<div class='table-container'>
  <table class='table table-hover table-striped'>
    <% @lesson_plans.each do |lesson_plan| %>
      <tr>
        <td><%= link_to lesson_plan.description, 
                lesson_plan_path(lesson_plan.id) %></td>
        <td><%= link_to lesson_plan.course.name,
                course_path(lesson_plan.course.id)%></td>
        <td><%= lesson_plan.start_time %></td>
      </tr>
    <% end %>
  </table>
</div>

<% content_for :to_do_list do %>
  <%= render 'layouts/to_do_list' %>
<% end %>
