<!DOCTYPE HTML>
<html>
  <head>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'lesson_plan_print' %>
    <%= stylesheet_link_tag 'lesson_plan_print', media: 'print' %>
    <script>$(window.print());</script>
  </head>
  <body>
    <h2 class='title'><%= @lesson_plan.title %></h2>

    <div>
      <p>
        <strong>Course:</strong>
        <%= @lesson_plan.course.name %>
      </p>
    </div>
    <div>
      <p>
        <strong>Date:</strong>
        <%= @lesson_plan.start.strftime "%A, %B %e, %Y" %>
      </p>
    </div>
    <div>
      <p>
        <strong>Time:</strong>
        <%= @lesson_plan.start.strftime "%l:%M%p" %> -
        <%= @lesson_plan.end.strftime "%l:%M%p" %>
      </p>
    </div>
    <% @lesson_plan.fields.each do |f| %>
      <div>
        <strong><%= f.title %></strong>
        <p><%= f.description.html_safe %></p>
      </div>
    <% end %>
    <div>
      <b>Standards</b>
      <% @lesson_plan.core_standards.each do |s| %>
        <p>
          <%= s.dot_notation %><br/>
          <%= s.uri %>
          <p><%= s.description.html_safe %></p>
        </p>
      <% end %>
    </div>
  </body>
</html>
