<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:sunday) %></strong>
</div>
<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:monday) %></strong>
</div>
<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:tuesday) %></strong>
</div>
<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:wednesday) %></strong>
</div>
<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:thursday) %></strong>
</div>
<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:friday) %></strong>
</div>
<div class="day-name center-text span1 <%= weekly_heading %>">
  <strong><%= day(:saturday) %></strong>
</div>
