<section id='calendar'>
  <table>
    <caption>
      <div id='prev_month'>
        <%= link_to raw("<i class='icon-chevron-left'></i>"), calendar_path(@calendar.date.year, @calendar.date.prev_month.mon) %>
      </div>
      <h2><%= @calendar.month %></h2>
      <div id='next_month'>
        <%= link_to raw("<i class='icon-chevron-right'></i>"), calendar_path(@calendar.date.year, @calendar.date.next_month.mon) %>
      </div>
    </caption>
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <% @calendar.dates.each_slice(7) do |week| %>
      <tr class='week'>
        <% week.each do |day| %>
          <td class='day'>
						<div class=<%= day.date.today? ? 'today' : 'date' %>>
							<span><%= day.date.mday %></span>
						</div>
						<ul class='unstyled courses'>
							<% day.lessons.each do |lesson| %>
								<% if lesson.course.end_date > day.date %>
									<li class='course'>
										<%= link_to lesson.course.name, 
											edit_lesson_plan_path(lesson.id) %> 
										<span><%= lesson.start_time %></span>
									</li>
								<% end %>
							<% end %>
						</ul>
						<div class="add-lesson-plan">
							<% start = 9.hours.since(day.date.to_datetime) %>
							<%= link_to raw("<i class='icon-plus'></i>"),
								new_lesson_plan_path(start: start,
																		 end: 1.hour.since(start)) %>
						</div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</section>

