<% calendar = week_view %>

<% content_for :calendar_heading do %>
  <th class='weekly-heading'></th>
  <%= render 'calendar_week_heading' %>
<% end %>

<% content_for :calendar_body do %>
  <% 1440.times do |minute| %>
    <tr class="minute-row minute-<%= minute %>">
      <% if is_hour?(minute) %>
        <td class='hour' rowspan="60"><%= hour_format(minute) %></td>
      <% end %>
      <% 7.times do |day| %>
        <td class="minute-col day-<%= day %>"></td>
      <% end %>
    </tr>
  <% end %>
  <div id='week-lessons' data-lessons="<%= calendar.lessons.to_json %>">
  </div>
<% end %>

<%= render 'calendar', calendar: calendar %>
