<% content_for :calendar_heading do %>
  <div class='row-fluid'>
    <div class='weekly-heading span1'></div>
    <%= render 'calendar_week_heading' %>
  </div>
<% end %>

<% content_for :calendar_body do %>
  <div class='calendar-week row-fluid'>
    <div class='hour-column span1'>
      <% 24.times do |hour| %>
        <div class='half-hour'></div>
        <div class='hour'>
          <%= hour_format(hour) %>
        </div>
      <% end %>
    </div>
    <% 0.upto(6) do |wday| %>
      <div id="day-<%= wday %>" class='day-column span1'>
      </div>
    <% end %>
  </div>
<% end %>

<% calendar.lessons.each do |l| %>
  <div id="<%= "lesson-#{l.id}" %>" class='lesson-data'
    data-lesson="<%= l.to_json %>" style='display:none'>
    <%= render 'lesson_time_form', lesson: l %>
  </div>
<% end %>

<div id='popover'></div>
<%= render 'calendar', calendar: calendar %>
