<h3>Update Password</h3>

<%= simple_form_for current_user, url: update_password_path do |f| %>
  <%= f.input :old_password, required: true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>

