<div class="row white-row">
  <div class="offset2 span11">
    <p style="font-size: 30px" class="text-center lead muted">
    <em>Simple and effective software for teachers. Get your planning period back.</em>
    </p>
  </div>
</div>
<div class="row gray-row">
  <div class="offset2 span6">
    <p class="vertical-align lead muted">
      Create lesson plans with an easy to use text editor.
      Manage lesson steps with bulleted or numbered lists.
      Organize content with tables.
    </p>
  </div>
  <div class="span6">
    <%= image_tag 'screenshots/lesson-plan.png', class: 'img img-polaroid' %>
  </div>
</div>

<div class="row">
  <div class="offset2 span6">
    <%= image_tag 'screenshots/lesson-plan-standards.png', class: 'img img-polaroid' %>
  </div>
  <div class="span6">
    <p class="vertical-align lead muted">
    Connect the Common Core Standards to your lesson plans with one click.
    Search by keyword to find the standards you need.
    </p>
  </div>
</div>

<div class="row gray-row">
  <div class="offset2 span6">
    <p class="vertical-align lead muted">
    See and organize your lessons plans with the interactive calendar month view,
    then quickly add a new lesson or edit an existing one.
  </div>
  <div class="span6">
    <%= image_tag 'screenshots/calendar-month.png', class: 'img img-polaroid'  %>
  </div>
</div>

<div class="row">
  <div class="offset2 span6">
    <%= image_tag 'screenshots/calendar-week.png', class: 'img img-polaroid' %>
  </div>
  <div class="span6">
    <p class="vertical-align lead muted">
    View your week in more detail with the calendar week view.
    See and edit class times, or pull up the entire lesson plan to modify its structure
    and content.
    </p>
  </div>
</div>

<div class="row gray-row">
  <div class="offset2 span6">
    <p class="vertical-align lead muted">
    Find lesson plans from last week, last month, last year, or whenever.
    All of your lesson plans are readily available with helpful search functionality.
    </p>
  </div>
  <div class="span6">
    <%= image_tag 'screenshots/lesson-plan-index.png', class: 'img img-polaroid' %>
  </div>
</div>

<div class="row">
  <div class="offset2 span6">
    <%= image_tag 'screenshots/to-do-list.png', class: 'img img-polaroid' %>
  </div>
  <div class="span6">
    <p class="vertical-align lead muted">
    Use the to-do list to remember the tiny tasks that surface throughout the day.
    Focus more of your mental effort on teaching.
    </p>
  </div>
</div>
