<div class="row gray-row">
  <div class="offset2 span6">
    <p class="vertical-align lead muted">Create lesson plans with a simple and easy to use text editor</p>
  </div>
  <div class="span6">
    <%= image_tag 'screenshots/lesson-plan.png', class: 'img img-polaroid' %>
  </div>
</div>

<div class="row">
  <div class="offset2 span6">
    <%= image_tag 'screenshots/lesson-plan-standards.png', class: 'img img-polaroid' %>
  </div>
  <div class="span6">
    <p class="vertical-align lead muted">Integrate the Common Core Standards</p>
  </div>
</div>

<div class="row gray-row">
  <div class="offset2 span6">
    <p class="vertical-align lead muted">Organize and keep track of your lesson plans with the calendar month view</p>
  </div>
  <div class="span6">
    <%= image_tag 'screenshots/calendar-month.png', class: 'img img-polaroid'  %>
  </div>
</div>

<div class="row">
  <div class="offset2 span6">
    <%= image_tag 'screenshots/calendar-week.png', class: 'img img-polaroid' %>
  </div>
  <div class="span6">
    <p class="vertical-align lead muted">See class times in a more focused week view</p>
  </div>
</div>

<div class="row gray-row">
  <div class="offset2 span6">
    <p class="vertical-align lead muted">Search through existing lesson plans</p>
  </div>
  <div class="span6">
    <%= image_tag 'screenshots/lesson-plan-index.png', class: 'img img-polaroid' %>
  </div>
</div>

<div class="row">
  <div class="offset2 span6">
    <%= image_tag 'screenshots/to-do-list.png', class: 'img img-polaroid' %>
  </div>
  <div class="span6">
    <p class="vertical-align lead muted">Make reminders with the to-do list</p>
  </div>
</div>
