<%= simple_form_for course do |f| %>
  <%= f.input :name, wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-book'></i>
    <% end %>
    <%= f.input_field :name %>
  <% end %>
  <%= f.input :start_date, wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-calendar'></i>
    <% end %>
    <%= f.date_field :start_date %>
  <% end %>
  <%= f.input :end_date, wrapper: :prepend do %>
    <%= content_tag :span, class: 'add-on' do %>
      <i class='icon-calendar'></i>
    <% end %>
    <%= f.date_field :end_date %>
  <% end %>

  <div class="control-group form-submit">
    <div class="controls">
      <%= f.submit submit_text,
        class: 'btn btn-primary' %>
      <%= link_to 'Cancel', courses_path,
        class: 'btn' %>
      <%=
        unless course.id.nil?
          link_to 'Delete', course_path(course),
            data: { confirm: 'Are you sure?' },
            method: :delete,
            class: 'btn'
        end
      %>
    </div>
  </div>
<% end %>
