<%= bootstrap_form_for course do |f| %>

  <%= f.text_field :name, prepend: 'icon-book' %>

  <%= f.date_field :start_date, prepend: 'icon-calendar' %>

  <%= f.date_field :end_date, prepend: 'icon-calendar' %>

  <div class="control-group form-submit">
    <div class="controls">
      <%= f.submit submit_text,
        class: 'btn btn-primary' %>
      <%= link_to 'Cancel', courses_path,
        class: 'btn' %>
      <%=
        unless course.id.nil?
          link_to 'Delete', course_path(course),
            data: { confirm: 'Are you sure?' },
            method: :delete,
            class: 'btn'
        end
      %>
    </div>
  </div>

<% end %>

<% content_for :to_do_list do %>
  <%= render 'layouts/to_do_list' %>
<% end %>
