<%= form_for @course, remote: true, :html => {:class => 'form-inline form-horizontal'} do |f| %>
	
	<div class='control-group'>	
		<span class="add-on"><i class='icon-book'></i></span>
		<%= f.label :name %>
		<%= f.text_field :name, :class => 'span2' %>
	</div>

	<div class='control-group'>
		<span class="add-on"><i class='icon-calendar'></i></span>
		<%= f.label :start_date %>
		<%= f.text_field :start_date, :class => 'span2' %>
	</div>
	
	<div class='control-group'>
		<span class="add-on"><i class='icon-calendar'></i></span>
		<%= f.label :end_date %>
		<%= f.text_field :end_date %>
	</div>
	
	<div class='control-group'>
		<span class="add-on"><i class='icon-time'></i></span>
		<%= f.label :start_time %>
		<%= f.text_field :start_time %>
	</div>

	<div class='control-group'>
		<span class="add-on"><i class='icon-time'></i></span>
		<%= f.label :end_time %>
		<%= f.text_field :end_time %>
	</div>

<% end %>
