<%= form_for @course, :html => {:class => 'form-horizontal'} do |f| %>

	<%= form_field(f, :name, 'icon-book') %>

	<%= form_field(f,:start_date, 'icon-calendar') %>

	<%= form_field(f, :end_date, 'icon-calendar') %>

	<%= form_field(f, :start_time, 'icon-time') %>

	<%= form_field(f, :end_time, 'icon-time') %>

  <div class='control-group'>
    <%= f.label :days_of_week, 'Days of Week', class: 'control-label' %> 
    
    <%= f.label :sunday, 'Sunday', class: 'control-label' %> 
    <div class='controls'>
      <%= check_box 'days_of_week', 'sunday'%>
    </div>
  </div>

	<div class="control-group">
	    <div class="controls">
			<%= f.submit 'Create', class: 'btn' %>
	    </div>
	</div>

<% end %>

<% content_for :to_do_list do %>
  <%= render 'layouts/to_do_list' %>
<% end %>
