<div>
  <h2><%= @course.name %></h2>
  <p>
    <b>Start Date:</b>
    <%= @course.start_date %>
  </p>
  <p>
    <b>End Date:</b>
    <%= @course.end_date %>
  </p>
  <p>
    <b>Start Time:</b>
    <%= @course.start_time %>
  </p>
  <p>
    <b>End Time:</b>
    <%= @course.end_time %>
  </p>
</div>
