<nav class='app-nav navbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </a>
      <a class="brand" href="/"><%= t :app_name %></a>
      <div class='nav-collapse collapse'>
        <% if active_user? %>
          <ul class='nav'>
            <li class="<%= active('calendar') %>">
              <a href="/calendar">Calendar</a>
            </li>
            <li class="<%= active('courses') %>">
              <a href="/courses">Courses</a>
            </li>
            <li class="<%= active('lesson_plans') %>">
              <a href="/lesson_plans">Lesson Plans</a>
            </li>
          </ul>
          <ul class='nav pull-right'>
            <li>
              <%= link_to 'My Account',
                user_path(current_user) %>
            </li>
            <li class='divider-vertical'></li>
            <li class='nav pull-right'>
              <%= link_to 'Sign Out',
                sign_out_path(id: current_user.id),
                method: :delete %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
