<!DOCTYPE html>
<html>
  <head>
    <title>Lesson Mate</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body>
    <%= render 'layouts/nav' %>

    <div class='container-fluid'>
      <div id='messages'>
        <%= render 'layouts/messages' %>
      </div>

      <div class='span9'>
        <%= yield %>
      </div>
      <div class='span3'>
        <%= render 'layouts/to_do_list' %>
      </div>
    </div>
  </body>
</html>
